/* Dark mode styles */
.dark-mode {
    background-color: #414141; /* Softer dark gray */
    color: #414141; /* Slightly off-white */
}

.dark-mode a {
    color: #bb86fc; /* purple links */
}

.dark-mode h1, .dark-mode h2, .dark-mode h3 .dark-mode h4 {
    color: #414141; /* Light gray for headings */
}




.dark-mode .navbar, .dark-mode .site-header {
    background-color: #414141;
}

.dark-mode .site-footer {
    background-color: #414141;
    color: #414141;
}

body {
    transition: background-color 0.4s ease, color 0.4s ease;
}
